DATABASE_URL=postgresql+asyncpg://USER:PASS@localhost:5432/voting_db
SECRET_KEY=your-secret-key-here
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
DEBUG=false
FACE_MATCH_THRESHOLD=0.6
FP_MATCH_SCORE_THRESHOLD=40
INK_PIXEL_RATIO_THRESHOLD=0.002
